*{
    scroll-behavior: smooth;
}
/* Base styles */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

/* Blue Ribbon */
.blue-ribbon {
    background-color: #f58c14; /* Change opacity for better visibility */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ribbon-text {
    margin-left: 20px;
    font-size: 1em;
}

.ribbon-svg-text {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}
.applynow
{
        font-size: 1em;
        padding: 8px 15px;
        background-color:#f58c14; /* Change opacity for better visibility */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
}

.applynow:hover {
        background-color: #d57c17; /* Change opacity for better visibility */
    }
    

/* Navigation Bar */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080808; /* Change opacity for better visibility */
    color: white;
    padding: 10px 0;
    transition: background-color 0.3s;
    border-bottom: #1d1d1d 1.5px solid;
}

.logo-placeholder {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 1.75%;
 
}

.logo-icon {
    width: 48px; /* Adjust the width as needed */
    height: 48px; /* Adjust the height as needed */
    margin-right: 10px; /* Space between the SVG and the text */
}


.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    padding: 23px 15px;
    position: relative; /* Required for the :after pseudo-element to position relative to the link */
    transition: all 0.3s;

}
.nav-menu a:hover {
    border-bottom: #f58c14 2px solid;
}


.nav-actions {
    display: flex;
    gap: 15px;
    margin-right: 2.5%;
    
}


/* Main Content */
.main-content {
    padding: 100px 20px 250px 125px; /* Adjusted padding-top to account for navbar height */
    background: url("../MEDIA/BG-1.png") no-repeat center top fixed; /* Changed background-position to 'center top' */
    background-size: cover;
    filter: hue-rotate(170deg);
    position: relative;
    z-index: 1; /* Ensure content on top of video */
}






.main-heading {
    font-size: 4.5em;
    margin-bottom: 20px;
    text-align: left;
    max-width: 900px;
    color: #fff;
}

.sub-heading {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
    max-width: 600px;
    font-weight: 200;
}

.cta-button {
    font-size: 1em;
    padding: 10px 20px;
    background-color:#146ef5; /* Change opacity for better visibility */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: rgba(13, 82, 194, 0.8); /* Change opacity for better visibility */
}

section {
    padding: 60px;
    height: 100vh;
}

#home { background-color: #f4f4f4; }
#about { background-color: #e4e4e4; }
#services { background-color: #d4d4d4; }
#contact { background-color: #c4c4c4; }

.navbar.scrolled {
    background-color: rgba(34, 34, 34, 0.8); /* Change opacity for better visibility */
}

.mid {
    margin-top: 5%;
    position: relative; /* Ensure the video and text are positioned correctly */
    overflow: hidden; /* Prevent overflow issues */
    color: white; /* Text color */
    text-align: center; /* Center align text */
    padding: 50px 20px; /* Adjust padding as needed */
    border-top: #1d1d1d 2px solid;
    border-bottom: #1d1d1d 2px solid;
    
}

.mid h1, .mid h2, .mid h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.mid h1 {
    font-size: 5em;

}

.mid h2 {
    margin-top: -3%;
    font-size: 3em;
    font-weight: 400;
}

.mid h3 {
    color: #ffffff;
    margin-top: -1.5%;
    font-weight: 200;
}





/* Services Section */
.services-section {
    padding: 0px 10px;
    background-color: #0b0b0b;
    position: relative; /* Ensure the video covers this entire section */
    overflow: hidden; /* Ensure video doesn't overflow */
    color: white;
    border-top: #1d1d1d 2px solid;
    
}

.services-heading {
    text-align: left;
    font-size: 4em;
    margin-bottom: 40px;
    margin-left: 8%;
}
.up{
    margin-top: -2%;
    font-size: 2em;
    font-weight: 300;
    margin-left: 8%;
}

.services-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin-left: 10%;
    padding: 20px 20px
}

.service-box1, .service-box2, .service-box3 {
    background-color: #111111;
    border-radius: 10px;
    padding: 100px 20px;
    margin-left: 5%;
    width: 50%;
    height: 300px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in;
}

.service-box1 {
    border: 2px solid #ff6b00;
}

.service-box2 {
    border: 2px solid #146ef5;
}

.service-box3 {
    border: 2px solid #ed52cb;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.service-title {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 1.8em; /* Increased for better visibility */
    margin: 0;
    color: white;
    font-weight: 600;
}

.service-number {
    font-size: 8em; /* Increased for prominence */
    margin: 0;
    color: white;
}

.service-desc {
    font-size: 1em; /* Increased for better readability */
    margin-top: 2px;
    color: white;
    font-weight: 500;
}

.service-box1:hover {
    box-shadow: 0 0 100px rgba(255, 106, 0, 0.662);
    background-color: #ff6b00;
    color: black;
    cursor: pointer;
}

.service-box1:hover .service-title,
.service-box1:hover .service-number,
.service-box1:hover .service-desc {
    color: black;
}

.service-box2:hover {
    box-shadow: 0 0 100px rgba(20, 110, 245, 0.662);
    background-color: #146ef5;
    color: black;
    cursor: pointer;
}

.service-box2:hover .service-title,
.service-box2:hover .service-number,
.service-box2:hover .service-desc {
    color: black;
}

.service-box3:hover {
    box-shadow: 0 0 100px rgba(237, 82, 203, 0.662);
    background-color: #ed52cb;
    color: black;
    cursor: pointer;
}

.service-box3:hover .service-title,
.service-box3:hover .service-number,
.service-box3:hover .service-desc {
    color: black;
}
.dets {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.2em; /* Adjusted font size */
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center vertically */
    transition: color 0.3s ease; /* Transition for text color change */
    font-weight: 400;
}


.dets .details-svg {
    margin-left: 5px; /* Spacing between text and SVG */
    fill: #e8eaed; /* Initial SVG color */
    transition: all 0.4s ease; /* Smooth transition for SVG color change */
}

.service-box1:hover .details-svg,
.service-box2:hover .details-svg,
.service-box3:hover .details-svg {
    fill: black; /* Change SVG color to black on hover */
    transform: translate(10px, 0px);
}


#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(2) hue-rotate(170deg); /* Adjusted to include 'deg' */
    mix-blend-mode: lighten;
    background-attachment: fixed;
}



.container-wrapper {
    display: flex;
    justify-content: center;
    gap: 25px; /* Adds space between the containers */
    margin-top: 20px;
}

.container {
    
    background-color: #0b0b0b8b; /* Change background color to black */
    color: white; /* Change text color to white */
    padding: 20px;
    border-radius: 5px;
    width: 250px; /* Adjust container width as needed */
    height: 400px; /* Adjust container height as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 1.2em;
    overflow: hidden; /* Ensures content doesn't overflow */
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.2), /* Outer box shadow */
        inset -5px 10px 200px rgba(146, 146, 146, 0.3); /* Inner white shadow towards top right */
    border: #252525 2px solid ; /* Optional: Keep border for contrast */
}

.container
{
    background: #0b0b0b8b;
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.6px);
-webkit-backdrop-filter: blur(6.6px);
border: 1.5px solid #252525;
}
.container img {
    max-width: 70%; /* Adjust image max-width as needed */
    max-height: 50%; /* Adjust image max-height as needed */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 10px; /* Adjust image margin as needed */
    filter: hue-rotate(170deg);
}





.container:nth-child(3) img {
    max-height: 50%; /* Adjust the max-height to fit within the container as needed */
    width: auto; /* Maintain aspect ratio */
}




.container h4 {
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 600;
}

.container p {
    font-size: 0.8em;
    text-align: left;
    font-weight: 300;
}






